body {
    text-align: center;
}
#board {
    background-color: black;
    border-top: 5px yellow;
    border-left: 5px yellow;
    border-right: 5px yellow;
}
.home-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.home-button:hover {
    background-color: darkred;
}