body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    border: 10px solid darkgrey;
    background-color: lightgrey;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid darkgrey;
    font-size:30px;
}

#board div2 {
    width: 38px;
    height: 38px;
    border: 1px solid darkgrey;
    font-size: 25px;
}

#board div3 {
    width: 31.33px;
    height: 31.33px;
    border: 1px solid darkgrey;
    font-size: 20px;
}
.home-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: darkred;
}

.tileClicked {
    background-color: darkgrey;
}

#flag-button {
    width: 100px;
    height: 50px;
    font-size: 35px;
    justify-content: center;
    text-align: center;
}
#easy-button {
    width: 75px;
    height: 50px;
    font-size: 15px;
}
#medium-button {
    width: 75px;
    height: 50px;
    font-size: 15px;
}
#hard-button {
    width: 75px;
    height: 50px;
    font-size: 15px;
}