body {
    background-image: url('RobsRetroArcade.png'), linear-gradient(royalblue, darkorange);
    background-size: 70%, cover;
    background-repeat: no-repeat;
    background-position: center top; /* Center horizontally and position at the top */
    position: relative;
    min-height: 100vh;
}

.image-container {
    position: absolute; /* Position the container absolutely */
    bottom: 0;
    width: 100%;
    text-align: center;
}

.game-link {
    display: inline-block;
    margin: 0 3vw;
}

.game-img {
    width: 20vw;
    max-width: 230px;
    height: auto;
    transition: transform 0.3s; /* Add transition effect for smooth scaling */
}

.game-link:hover .game-img {
    transform: scale(1.1); /* Scale the image on hover instead of js*/
}



